# 数据库连接

In [21]:
import datetime
import os

from sqlalchemy import create_engine
from pandas.io import sql
import pymysql

import pandas as pd

In [22]:
db = pymysql.connect(host='47.95.148.133', user='wisedb', passwd='Wi$eWeb123', 
                             db='pom', charset='utf8', port=5718) 

cursor = db.cursor(cursor=pymysql.cursors.DictCursor)

In [23]:
def get_sql_data(sql_c):
    cursor.execute(sql_c)
    return cursor.fetchall()

In [24]:
def desc_data(data):
    print('- 1 - field_name: field_value --')
    print(data[0])
    data = pd.DataFrame(data)
    print()
    print('- 2 - field number --')
    print(data.shape[1])
    print()
    print('- 3 - field name --')
    print(data.columns)

# 机构正负性

## wise_classify_docinfo
- doc_id: 对应新闻数据id
- tendency（-1负面，0非负）：机构及人名正负性

In [25]:
sql_c = 'select * from wise_classify_docinfo limit 5'
data = get_sql_data(sql_c)
pd.DataFrame(data)

,class_config_id,doc_id,flag,id,publishtime,tendency,titlehash,tree_node_id
0,7,2544145,0,9,1510235546,-1,8678572762232414615,37
1,7,4730191,0,30,1511971200,0,-5167153588462019545,37
2,7,5103432,0,38,1512310560,0,-1825640853062724066,37
3,7,5049469,0,39,1512312664,0,-7940653656377197955,37
4,7,5073690,0,47,1512350139,-1,5341327801222827167,37

In [26]:
sql_c = 'select class_config_id, count(class_config_id) as classify_id_num \
            from wise_classify_docinfo \
                group by class_config_id'
data = get_sql_data(sql_c)
pd.DataFrame(data)

   class_config_id  classify_id_num
0                7           647064
1                8            66350
2                9          2042280
3               11          1518745
4               13           100473

In [27]:
sql_c = 'select tree_node_id, count(tree_node_id) as node_id_num \
            from wise_classify_docinfo \
                group by tree_node_id'
data = get_sql_data(sql_c)
pd.DataFrame(data)

     node_id_num  tree_node_id
0         492200            37
1          26052            38
2          14205            39
3           6884            40
4           4733            41
5           4257            42
6           1947            43
7           1447            44
8            108            45
9           1637            46
10           133            47
11          1065            48
12          1439            49
13          1706            50
14          1161            51
15            10            52
16          8636            53
17          2591            54
18           224            55
19          2176            56
20           248            57
21          1859            58
22           101            59
23          2825            60
24          1225            61
25            36            62
26          3541            63
27           243            64
28          2245            65
29           119            66
..           ...           ...
327         3598           394
328            5           395
329           47           396
330            7           397
331          597           399
332         1585           400
333          543           401
334         1659           402
335         1731           403
336          661           404
337         1267           405
338          811           406
339            4           410
340            4           411
341            4           413
342          272           416
343            4           418
344          158           421
345            4           422
346            1           425
347       166263           426
348            4           430
349            4           432
350            4           433
351            4           436
352        25909           444
353         9354           445
354         3487           446
355         2850           447
356         6749           448

[357 rows x 2 columns]

## wise_class_tree_node_keyword（python程序调用）
- name：机构名或人名 （python程序中返回值）
- node_id（tree_node_id）：name 的 id  （python程序中返回值）
- classify_id（class_config_id）：行业的 id  （python程序中返回值）

In [28]:
sql_c = 'select * from wise_class_tree_node_keyword limit 5'
data = get_sql_data(sql_c)
pd.DataFrame(data)

,classify_id,flag,id,name,node_id,query_and,query_nature,query_not,query_or
0,7,0,36,保监会,37,,0,,保险监督管理委员会 保监会 CIRC 银保监会 银行保险监督管理委员会
1,7,0,37,陈文辉,38,陈文辉,0,,保险监督管理委员会 保监 CIRC 银保监
2,7,0,38,黄洪,39,黄洪,0,,保险监督管理委员会 保监 CIRC 银保监
3,7,0,39,梁涛,40,梁涛,0,,保险监督管理委员会 保监 CIRC 银保监
4,7,0,40,曹宇,41,曹宇,0,,保险监督管理委员会 保监 CIRC 银保监

In [29]:
sql_c = 'select classify_id, count(classify_id) as classify_id_num \
            from wise_class_tree_node_keyword \
                group by classify_id'
data = get_sql_data(sql_c)
pd.DataFrame(data)

   classify_id  classify_id_num
0            7               12
1            8               17
2            9              259
3           10               20
4           11                6
5           13               56

In [30]:
sql_c = 'select node_id, count(node_id) as node_id_num \
            from wise_class_tree_node_keyword \
                group by node_id'
data = get_sql_data(sql_c)
pd.DataFrame(data)

     node_id  node_id_num
0         37            1
1         38            1
2         39            1
3         40            1
4         41            1
5         42            1
6         43            1
7         44            1
8         45            1
9         46            1
10        47            1
11        48            1
12        49            1
13        50            1
14        51            1
15        52            1
16        53            1
17        54            1
18        55            1
19        56            1
20        57            1
21        58            1
22        59            1
23        60            1
24        61            1
25        62            1
26        63            1
27        64            1
28        65            1
29        66            1
..       ...          ...
340      382            1
341      383            1
342      384            1
343      385            1
344      386            1
345      387            1
346      388            1
347      389            1
348      390            1
349      391            1
350      392            1
351      393            1
352      394            1
353      395            1
354      396            1
355      397            1
356      398            1
357      399            1
358      400            1
359      401            1
360      402            1
361      403            1
362      404            1
363      405            1
364      406            1
365      444            1
366      445            1
367      446            1
368      447            1
369      448            1

[370 rows x 2 columns]

## wise_class_config（classify_id）

In [31]:
sql_c = 'select * from wise_class_config'
data = get_sql_data(sql_c)
pd.DataFrame(data)

  discription  flag  id  menu_id  name  order_type
0     保监会、保监局     0   7        0   保监会           0
1         保监局     0   8        0   保监局           0
2        保险公司     0   9        0  保险行业           0
3                 0  10        0  危机分类           0
4        行业信息     0  11        0  行业信息           0
5         专家库     0  13        0   专家库           0

## wise_class_tree_node（node_id）

In [32]:
sql_c = 'select * from wise_class_tree_node'
data = get_sql_data(sql_c)
pd.DataFrame(data)

,address_id,class_config_id,emphasis,flag,gathertime,id,last_doc_id,name,node_type,order_type,parent_id,remarks
0,None,7,1,0,0,37,NaN,银保监,1,0,0,
1,None,7,1,0,1525313140,38,7843903.0,陈文辉,1,0,0,
2,None,7,1,0,1525313140,39,7843903.0,黄洪,1,0,0,
3,None,7,1,0,1525313140,40,7843903.0,梁涛,1,0,0,
4,None,7,1,0,1525313140,41,7843903.0,曹宇,1,0,0,
5,None,8,0,0,1525313144,42,7843903.0,北京保监局,1,1,0,北京保监局
6,None,8,0,0,1525313144,43,7843903.0,天津保监局,1,2,0,天津保监局
7,None,8,0,0,1525313144,44,7843903.0,河北保监局,1,3,0,河北保监局
8,None,8,0,0,1525313142,45,7843903.0,唐山保监分局,2,0,44,唐山保监分局
9,None,8,0,0,1525313145,46,7843903.0,山西保监局,1,4,0,山西保监局
10,None,8,0,0,1525313142,47,7843903.0,运城保监分局,2,0,46,运城保监分局
11,None,8,0,0,1525313145,48,7843903.0,内蒙古保监局,1,5,0,内蒙古保监局
12,None,8,0,0,1525313145,49,7843903.0,辽宁保监局,1,6,0,辽宁保监局
13,None,8,0,0,1525313145,50,7843903.0,吉林保监局,1,7,0,吉林保监局
14,None,8,0,0,1525313145,51,7843903.0,黑龙江保监局,1,8,0,黑龙江保监局
15,None,8,0,0,1525313142,52,7843903.0,佳木斯保监分局,2,0,51,佳木斯保监分局\r\n
16,None,8,0,0,1525313145,53,7843903.0,上海保监局,1,9,0,上海保监局\n
17,None,8,0,0,1525313146,54,7843903.0,江苏保监局,1,10,0,江苏保监局\n
18,None,8,0,0,1525313142,55,7843903.0,苏州保监分局,2,0,54,苏州保监分局\r\n
19,None,8,0,0,1525313146,56,7843903.0,浙江保监局,1,11,0,浙江保监局\n
20,None,8,0,0,1525313142,57,7843903.0,温州保监分局,2,0,56,温州保监分局\r\n
21,None,8,0,0,1525313146,58,7843903.0,安徽保监局,1,12,0,安徽保监局\n
22,None,8,0,0,1525313143,59,7843903.0,阜阳保监分局,2,0,58,阜阳保监分局\r\n
23,None,8,0,0,1525313146,60,7843903.0,福建保监局,1,13,0,福建保监局\n
24,None,8,0,0,1525313146,61,7843903.0,江西保监局,1,14,0,江西保监局\n
25,None,8,0,0,1525313143,62,7843903.0,赣州保监分局,2,0,61,赣州保监分局\r\n
26,None,8,0,0,1525313147,63,7843903.0,山东保监局,1,15,0,山东保监局\n
27,None,8,0,0,1525313143,64,7843903.0,烟台保监分局,2,0,63,烟台保监分局\r\n
28,None,8,0,0,1525313147,65,7843903.0,河南保监局,1,16,0,河南保监局\n
29,None,8,0,0,1525313143,66,7843903.0,南阳保监分局,2,0,65,南阳保监分局\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...
332,None,13,0,0,1525313156,382,7843903.0,朱俊生,2,0,347,朱俊生
333,None,13,0,0,1525313156,383,7843903.0,廖理,2,0,347,廖理
334,None,13,0,0,1525313156,384,7843903.0,刘澜飚,2,0,347,刘澜飚
335,None,13,0,0,1525313155,385,7843903.0,杨明生,2,0,347,杨明生
336,None,13,0,0,1525313155,386,7843903.0,王滨,2,0,347,王滨
337,None,13,0,0,1525313155,387,7843903.0,段国圣,2,0,347,段国圣
338,None,13,0,0,1525313155,388,7843903.0,孙祁祥,2,0,347,孙祁祥
339,None,13,0,0,1525313155,389,7843903.0,赵占波,2,0,347,赵占波
340,None,13,0,0,1525313154,390,7843903.0,朱慈蕴,2,0,347,朱慈蕴
341,None,13,0,0,1525313156,391,7843903.0,李玉泉,2,0,347,李玉泉
342,None,13,0,0,1525313157,392,7843903.0,王国刚,2,0,347,王国刚
343,None,13,0,0,1525313157,393,7843903.0,陈琦伟,2,0,347,陈琦伟
344,None,13,0,0,1525313157,394,7843903.0,梅慎实,2,0,347,梅慎实
345,None,13,0,0,1525313157,395,7843903.0,鄂维南,2,0,347,鄂维南
346,None,13,0,0,1525313157,396,7843903.0,吴子,2,0,347,吴子
347,None,13,0,0,1525313157,397,7843903.0,杜尚瑞,2,0,347,杜尚瑞
348,None,13,0,0,1525313158,398,7843903.0,鲍尼尔,2,0,347,鲍尼尔
349,None,13,0,0,1525313158,399,7843903.0,陈秉正,2,0,347,陈秉正
350,None,13,0,0,1525313158,400,7843903.0,郭金龙,2,0,347,郭金龙
351,None,13,0,0,1525313156,401,7843903.0,魏丽,2,0,347,魏丽
352,None,9,0,0,1524709790,402,7800044.0,黄河财产保险股份有限公司,1,0,0,
353,None,9,0,0,1524709790,403,7800044.0,太平科技保险股份有限公司,1,0,0,
354,None,9,1,0,1524709790,404,7800044.0,广东粤电财产保险自保有限公司,1,0,0,
355,None,9,1,0,1524709791,405,7800044.0,汇友建工财产相互保险社,1,0,0,
356,None,9,1,0,1524709791,406,7800044.0,三峡人寿保险股份有限公司,1,0,0,
357,None,7,0,0,1525313141,444,7843903.0,郭树清,1,0,0,
358,None,7,0,0,1525313141,445,7843903.0,王兆星,1,0,0,
359,None,7,0,0,1525313141,446,7843903.0,周亮,1,0,0,
360,None,7,0,0,1525313141,447,7843903.0,祝树民,1,0,0,
361,None,7,0,0,1525313142,448,7843903.0,李欣然,1,0,0,

# 过模型的全量数据
## wise_web_docinfo_basic（基础数据表）
- 通过关键词从ES库来的数据，存在mysql里
- 与业务表数据对应时，使用字段：url
- 查找数据正文时，通过字段 txt_file 在服务器上寻找对应text文件（正文存在 /data/rawsitedata/)

In [33]:
sql_c = 'select * from wise_web_docinfo_basic limit 5'
data = get_sql_data(sql_c)
desc_data(data)

- 1 - field_name: field_value --
{'id': 1, 'site_id': 200748, 'site_name': '微信', 'media_level': 3, 'channel': 3, 'group_id': 11, 'url': 'http://mp.weixin.qq.com/s?__biz=MTA5NjQ2MTU4MQ==&mid=2650384869&idx=1&sn=4de2c4b7be69c53a532860e45cab4c56', 'urlhash': '-8093113450272402088', 'title': '《投资者报》“2017保险先锋榜”出炉 严监管下28家公司脱颖而出（附榜单）', 'author': '投资者报', 'click': 0, 'reply': 0, 'publishtime': datetime.datetime(2017, 12, 25, 5, 12, 49), 'keywords': '铁路自保/通用再/同方全球/突尼斯伊盛/维朋/现代财保/香港美历/香港闽信/香港友邦/新光海航/新华养老/新华资产/新华资管', 'gathertime': datetime.datetime(2018, 5, 30, 5, 12, 49), 'txt_file': '994@20180530-8093113450272402088.txt', 'inserttime': 1527644654, 'flag': 0, 'repeat_count': 1, 'gather_id': 0, 'es_index': 'wechat20171101'}

- 2 - field number --
21

- 3 - field name --
Index(['author', 'channel', 'click', 'es_index', 'flag', 'gather_id',
       'gathertime', 'group_id', 'id', 'inserttime', 'keywords', 'media_level',
       'publishtime', 'repeat_count', 'reply', 'site_id', 'site_name', 'title',
       'txt_file', 'url', 'urlhash'],
      dtype='object')

# 过模型后相关数据表

## wise_web_docinfo （业务表）
> 相关数据表标题

+ 字段：
- - gather_type
> - 0 ---- 系统全面采集
> - 1 ---- 人工补录（未过算法，人工判断为相关）
> - 2 ---- 人工校正（过了算法，人工修改内容）
> - 3 ---- 批量导入（Excel导入，未过算法，人工判断为相关）
- - noise_flag 
> - -- 1（有用） 是人工判断为噪音的数据，即算法判断为相关而业务人员判断为不相关
> - -- 0 默认是算法判断为相关数据，但无法分别业务人员也做如此判断
- - publistime（发布时间）
- - gathertime（采集时间）    
- - inserttime（入库时间，入 业务表 时间）

In [34]:
sql_c = 'select * from wise_web_docinfo limit 5'
data = get_sql_data(sql_c)
desc_data(data)

- 1 - field_name: field_value --
{'id': 322222, 'site_id': 6900, 'site_name': '宁夏在线', 'media_level': 3, 'channel': 1, 'group_id': 1, 'type_id': None, 'site_disc': None, 'url': 'http://www.nxing.cn/wap/article/167687.html', 'urlhash': '728207379', 'title': '中国最大贪官贪污多少，中国最大贪官贪污多少大揭秘_最新消息', 'author': '', 'click': 0, 'reply': 0, 'publishtime': datetime.datetime(2017, 10, 26, 0, 3, 37), 'status': None, 'position': None, 'keywords': '保险/保监', 'keywordhash': 0, 'gathertime': datetime.datetime(2017, 10, 26, 0, 3, 37), 'gather_id': 0, 'doc_id': None, 'raw_file': '', 'raw_offset': 0, 'raw_length': 0, 'txt_file': '994@201801191000765256.txt', 'txt_offset': 0, 'txt_length': 6855, 'inserttime': 1508994902, 'sec': 4, 'flag': 1, 'hot_sign': 0, 'repeat_count': 1, 'cr_sec': 0, 'addresswords': None, 'heat_value': 0.0, 'handle_type': 0, 'gather_type': 2, 'title_speech': '中国 最大 贪官 贪污 多少 ', 'titlehash': 6158935229771526556, 'tendency': -1, 'tendency_flag': 2, 'channel_id_n': 6892, 'site_name_n': None, 'site_level_n': 3, 'submited': 0, 'noise_flag': 0, 'province': '宁夏回族自治区'}

- 2 - field number --
48

- 3 - field name --
Index(['addresswords', 'author', 'channel', 'channel_id_n', 'click', 'cr_sec',
       'doc_id', 'flag', 'gather_id', 'gather_type', 'gathertime', 'group_id',
       'handle_type', 'heat_value', 'hot_sign', 'id', 'inserttime',
       'keywordhash', 'keywords', 'media_level', 'noise_flag', 'position',
       'province', 'publishtime', 'raw_file', 'raw_length', 'raw_offset',
       'repeat_count', 'reply', 'sec', 'site_disc', 'site_id', 'site_level_n',
       'site_name', 'site_name_n', 'status', 'submited', 'tendency',
       'tendency_flag', 'title', 'title_speech', 'titlehash', 'txt_file',
       'txt_length', 'txt_offset', 'type_id', 'url', 'urlhash'],
      dtype='object')

In [35]:
sql_c = 'select gather_type, count(gather_type) as gather_type_num \
            from wise_web_docinfo \
                group by gather_type'
data = get_sql_data(sql_c)
pd.DataFrame(data)

   gather_type  gather_type_num
0            0          2275545
1            1             2031
2            2            75229
3            3            38748

In [36]:
sql_c = 'select noise_flag, count(noise_flag) as noise_flag_num \
            from wise_web_docinfo \
                group by noise_flag'
data = get_sql_data(sql_c)
pd.DataFrame(data)

   noise_flag  noise_flag_num
0           0         2389818
1           1            1735

In [37]:
sql_c = 'select noise_flag, gather_type, count(1) as number \
            from wise_web_docinfo \
                group by noise_flag, gather_type'
data = get_sql_data(sql_c)
pd.DataFrame(data)

   gather_type  noise_flag   number
0            0           0  2273827
1            1           0     2031
2            2           0    75212
3            3           0    38748
4            0           1     1718
5            2           1       17

## wise_web_docinfo_center
> 相关数据表对应对应正文

In [38]:
sql_c = 'select * from wise_web_docinfo_center limit 5'
data = get_sql_data(sql_c)
pd.DataFrame(data)

                                              center   doc_id  id
0  保监会11月28日又发布3张监管函。永安财产、泰山财险、昆仑健康，三家公司被点名在关联交易等...  5698102   1
1  关注\n在许多人的印象里，保单业务只能到柜台办理。现在，作为\n中国人寿的寿险保单用户\n，...  5706309   2
2  关注\n在许多人的印象里，保单业务只能到柜台办理。现在，作为\n中国人寿的寿险保单用户\n，...  5706042   3
3  “嫌贫爱富”是保险普及的最大障碍最新数据，我国寿险保单持有人只占总人口的8％，人均持有保单仅...  5694388   4
4  点击上方圈中人保险网，关注保险专业资源门户网站 导读：近日，中国人民银行武汉分行发布行政处罚...  5694396   5

# 过模型后不相关数据表

## wise_web_docinfo_uncorr （不相关数据表）
> 过算法后判断为不相关数据的标题

In [39]:
sql_c = 'select * from wise_web_docinfo_uncorr limit 5'
data = get_sql_data(sql_c)
desc_data(data)

- 1 - field_name: field_value --
{'id': 7669979, 'site_id': 0, 'site_name': '微博', 'media_level': 3, 'channel': 2, 'group_id': 4, 'type_id': None, 'site_disc': None, 'url': 'http://weibo.com/1185989315/GcfSnDETS', 'urlhash': '611898597571615348', 'title': '我参与了@中国人寿 发起的投票 【中国人寿“关键一投”总决赛第一期票选活动】，我投给了“第四节：郭艾伦回应三分球十分强势”这个选项。你也快来表态吧~', 'author': '院里的正常人', 'click': 0, 'reply': 0, 'publishtime': datetime.datetime(2018, 4, 15, 23, 20, 25), 'status': None, 'position': None, 'keywords': '交强险/快返险/两全险/年金险/农险/农业险/平安险/企财险/企业年金/人身险/人寿-基本养老保险-社会养老保险-五险一金-四险一金-三险一金-保险丝-保险杠-保险柜-保险箱-社保-失业保险-工伤保险', 'keywordhash': 0, 'gathertime': datetime.datetime(2018, 4, 16, 9, 3, 5), 'gather_id': 0, 'doc_id': None, 'raw_file': '', 'raw_offset': 0, 'raw_length': 0, 'txt_file': '', 'txt_offset': 0, 'txt_length': 0, 'inserttime': 1523842430, 'sec': 4, 'flag': 0, 'hot_sign': -1, 'repeat_count': 1, 'cr_sec': 0, 'addresswords': None, 'heat_value': 0.0, 'handle_type': 0, 'gather_type': 0, 'title_speech': None, 'titlehash': 0, 'tendency': None, 'tendency_flag': 1}

- 2 - field number --
42

- 3 - field name --
Index(['addresswords', 'author', 'channel', 'click', 'cr_sec', 'doc_id',
       'flag', 'gather_id', 'gather_type', 'gathertime', 'group_id',
       'handle_type', 'heat_value', 'hot_sign', 'id', 'inserttime',
       'keywordhash', 'keywords', 'media_level', 'position', 'publishtime',
       'raw_file', 'raw_length', 'raw_offset', 'repeat_count', 'reply', 'sec',
       'site_disc', 'site_id', 'site_name', 'status', 'tendency',
       'tendency_flag', 'title', 'title_speech', 'titlehash', 'txt_file',
       'txt_length', 'txt_offset', 'type_id', 'url', 'urlhash'],
      dtype='object')

## wise_web_docinfo_center_uncurr
> 过算法后判断为不相关数据的正文

In [40]:
sql_c = 'select * from wise_web_docinfo_center_uncurr limit 5'
data = get_sql_data(sql_c)
pd.DataFrame(data)

                                              center   doc_id       id
0  原标题：2018年二级建造师《管理》真题及答案解析2018年二级建造师考试已经结束，为方便同...  8658758  1438819
1  　　5月31日晚间公布申购情况及中签率，公司此次网上定价发行有效申购户数为1364.68万户...  8658759  1438820
2    青少年儿童是父母的希望，也是国家的未来，青少年儿童能够健康、安全地成长至关重要。近年，发...  8658760  1438821
3     早7：00太原五一广场三晋国际乘车赴昔阳大寨（车程约2小时），[ 闻名于世的大寨，位于...  8658761  1438822
4  唐山老乡群 欢迎加人唐山微信大群 免费发布信息 唐山小伙伴们：招聘求职、房屋信息、二手信息、...  8658762  1438823

# 保存数据

In [41]:
# 自动输出 HTML 文件
def output_HTML(read_file, output_file):
    from nbconvert import HTMLExporter
    import codecs
    import nbformat
    exporter = HTMLExporter()
    # read_file is '.ipynb', output_file is '.html'
    output_notebook = nbformat.read(read_file, as_version=4)
    output, resources = exporter.from_notebook_node(output_notebook)
    codecs.open(output_file, 'w', encoding='utf-8').write(output)
              
current_file = os.getcwd() + '\\circ_数据库中的数据.ipynb'
html_file_folder = r'D:\XH\OneDrive\网智天元\4 银保监会\分析结果'
output_file = html_file_folder + '\\circ_数据库中的数据.html' 
output_HTML(current_file, output_file)